{% extends 'base.html' %}

{% block conteudo %}

<h1>Relação de tarefas</h1>

{% for tarefa in tarefas %}
<div class="card mb-3" style="width: 50rem;" >
    <div class="card-header">
        {{ tarefa.get_prioridade_display }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ tarefa.titulo }}</h5>
        <p class="card-text">{{ tarefa.descricao }}</p>
        <hr>
        <a href="{% url 'editar_tarefa' tarefa.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'remover_tarefa' tarefa.id %}" class="btn btn-secondary">Remover</a>
    </div>
</div>
{% endfor %}

<a href="{% url 'cadastrar_tarefa' %}"><button type="submit" class="btn btn-secondary mb-3">Cadastrar Tarefa</button></a>

{% endblock conteudo %}
